.header {
  display: flex;
  justify-content: space-between;
  height: vars.$layout-header;
  padding: 0 20px;
  background-color: #e8e8e8;

  .left {
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
    }
  }

  .right {

  }
}
