.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    flex: 1;
    min-height: calc(100vh - vars.$layout-header - vars.$layout-footer);
  }

  .footer {
    height: vars.$layout-footer;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
