
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;


  .header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
    background-color: #e8e8e8;

    .left {


    }

    .right {
    }
  }

  .main {
    flex: 1;
    min-height: calc(100vh - 64px - 48px);
  }

  .footer {
    height: 48px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
